* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #0056b3;
	--color-text: #eaf4ff;
	--gallery-gap: calc(var(--index) * 2);
	--glow-color: hsl(180, 74%, 59%);
}
@font-face {
	font-family: mbold-c;
	src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
	font-family: mthin-c;
	src: url(../fonts/Montserrat-Thin.woff2);
}
@font-face {
	font-family: mreg-c;
	src: url(../fonts/montserrat-regular.woff2);
}
@font-face {
	font-family: mextralight-c;
	src: url(../fonts/Montserrat-ExtraLight.woff2);
}
@font-face {
	font-family: msemib-c;
	src: url(../fonts/Montserrat-SemiBold.woff2);
}
h1 {
	font-family: mbold-c;
	color: #eaf4ff;
}
h2 {
	font-family: mextralight-c;
	color: #eaf4ff;
}
h3 {
	font-family: mreg-c;
	color: #eaf4ff;
}
h4 {
	font-family: msemib-c;
	color: #eaf4ff;
}
p {
	font-family: mthin-c;
	color: #eaf4ff;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
.body {
	overflow-x: hidden;
}
.content {
	background: linear-gradient(#287bd3 , #000000);
}
.hero {
	width: calc(var(--index)* 25);
	position: absolute;
	left: 54vw;
	top: 20vh;
}
.navbar {
	font-family: mreg-c;
	width: calc(var(--index) * 100%);
	height: calc(var(--index) * 3);
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}
.navbar .navbar-container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-brand {
	margin: 10vw;
	height: calc(calc(var(--index) * 2));
	display: flex;
}
.navbar-menu {
	list-style-type: none;
	margin-bottom: 0;
	margin-right: 10vw;
}
.navbar-menu li {
	font-size: calc(calc(var(--index) * .6));
	display: inline-block;
	margin: calc(calc(var(--index) * 1));
}
.navbar-menu li a {
	color: #eaf4ff;
	opacity: .7;
	text-decoration: none;
	display: inline-block;
	transition: all .2s ease-in-out;
}
.navbar-menu li a:hover {
	opacity: 1;
	transform: scale(1.2);
}
.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}
.main-header {
	height: 100vh;
	margin-left: 0;
}
.container {
	padding: 0 10vw;
}
.main-title {
	box-sizing: border-box;
	font-size: calc(calc(var(--index) * 6));
	position: flex;
	margin-top: 15vh;
	margin-bottom: calc(var(--index)* -1);
}
.main-subtitle {
	font-size: calc(calc(var(--index) * 2));
	position: absolute;
	display: flex;

}
.main-podsubtitle {
	font-size: calc(calc(var(--index) * .7));
	position: flex;
	margin-top: calc(calc(var(--index) * 4));
	max-width: calc(calc(var(--index) * 20));
	line-height: 4vh;
}
.main-podsubtitle-two {
	font-size: calc(calc(var(--index) * .7));
	position: flex;
	max-width: calc(calc(var(--index) * 30));
	line-height: 4vh;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * .2);
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;

}
.gallery__left {
	margin-top: calc(var(--gallery-gap));
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: calc(var(--gallery-gap)* .8);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: calc(var(--index) * 1.2);
	line-height: 2.4rem;
	color: var(--color-text);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 2;
	font-size: calc(var(--index)* .6);
	font-family: mextralight-c;
}
.glowing-btn {
	margin-top: 5vh;
  position: absolute;
  color: var(--glow-color);
  cursor: pointer;
  padding: .5em 1.5em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: mbold-c;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: #eaf4ff;
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
footer{
	border-top: 1px solid #eaf4ff;
	position: flex;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: 100vw;
	padding-top: 10vh;
	color: #eaf4ff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content p{
	max-width: 10vw;
	margin: 2vh auto;
	line-height: 3vh;
	font-size: .73vw;
	color: #eaf4ff;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #eaf4ff;
	border: 1.1px solid #eaf4ff;
	padding: 5px;
	border-radius: 50%;
}
.socials a i{
	font-size: 1.1rem;
	width: 20px;
	transition: color .4s ease;
}
.socials a:hover i{
	color: #287bd3;
}
.footer-bottom{
	width: 100vw;
	padding: 20px;
	padding-bottom: 40px;
	text-align: center;
}
.footer-bottom p{
	float: center;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}